.logo-nav {
    width: 120px;
    height: 100px;
}

.nav {
    text-transform: uppercase;
    font-weight: bold;
}

.titulo-principal {
    font-size: 25px;
    text-align: center;
    color: #000;
    font-weight: 500;
}

.favi {
    width: 300px;
}

.receba {
    color: #22577A;
    font-weight: bold;
}

.facil {
    color: #57cc99;
    font-weight: bold;
}

.cart-compras-1 {
    width: 300px;
    height: 230px;
}

.cart-compras-2 {
    width: 210px;
    height: 220px;
}

.link-h3 {
    color: #80ed99;
    font-weight: 500;
}

.link-h3:hover {
    color: #38a3a5;
    text-decoration: none;
}

.cesta {
    width: 300px;
    margin: 0 auto;
}

.text-h1-eco-fisi {
    color: #80ed99;
    text-align: center;
    text-transform: uppercase;
}

.text-h1 {
    color: #22577A;
    font-weight: bold;
}

.span {
    color: #57cc99;
    font-weight: bold;
}